.container {
  width: 100%;
  margin: auto;
  text-align: center;
  flex-wrap: wrap;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #393e46;
  text-align: center;
  font-family: "Indie Flower", cursive;
}

h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #ee9734;
}

p {
  font-size: 2rem;
  color: #cc4e4e;
}

img {
  width: 80%;
}

.random-button {
  font-size: 3rem;
  border-color: transparent;
  color: #dad3d3;
  background-color: transparent;
  margin-top: 1rem;
  font-family: "Indie Flower", cursive;
}

.random-button:hover {
  color: #fff;
}

footer {
  margin-top: 1rem;
  color: #eeeeee;
  text-align: center;
  font-family: "Indie Flower", cursive;
}